In [3]:
myList = []
myList.append(1)
print(myList)

[1]

In [2]:
myList.append(1)
print(myList)

[1]

In [3]:
myList.append(2)
myList.append(3)
myList.append(4)
myList.append(5)
print(myList)

[1, 2, 3, 4, 5]

In [4]:
print(myList[1])

2

In [6]:
for x in myList:
    print(x)

1

In [7]:
for x in myList:
    
    print(x)

1
2
3
4
5

In [15]:
data = "Hello"
data1 = 25

print(f"{data} Mark! I am {data1} years old")

Hello Mark! I am 25 years old

In [19]:
data = ("John", "Doe", 53.44)
format_string = "Hello %s %s. Your current balance is $%s."

print(format_string % data)

Hello John Doe. Your current balance is $53.44.

In [45]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
bicycles[0] = 'WhiteHorse'
bicycles.append('trek')
bicycles[4] = 'Gold'
bicycles.insert(0, 'Silver')
print(bicycles)
del bicycles[0]
print(bicycles)
bicycles.pop()
print(bicycles)
print(bicycles.pop())
bicycles.remove('redline')
print(bicycles)

['Silver', 'WhiteHorse', 'cannondale', 'redline', 'specialized', 'Gold']
['WhiteHorse', 'cannondale', 'redline', 'specialized', 'Gold']
['WhiteHorse', 'cannondale', 'redline', 'specialized']
specialized
['WhiteHorse', 'cannondale']

In [17]:
print(bicycles[1])

cannondale

In [18]:
print(bicycles[1:])

['cannondale', 'redline', 'specialized']

In [30]:
print(bicycles[0].title())

Trek

In [32]:
 message = f"My first bicycle was a {bicycles[0].title()}."
print(message)

My first bicycle was a Trek.

In [46]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
bicycles.sort()
print(bicycles)

['cannondale', 'redline', 'specialized', 'trek']

In [47]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
bicycles.sort(reverse=True)
print(bicycles)

['trek', 'specialized', 'redline', 'cannondale']

In [38]:
list = ["Samuel", "Jude", "Solomon", "Happiness"]
new_list=["Love", "2"]
new_list.extend(list)
print(new_list)

['Love', '2', 'Samuel', 'Jude', 'Solomon', 'Happiness']

In [39]:
x = ["John", "Samuel","David", "Mark"]
len(x)

4

In [41]:
print(x)

['John', 'Samuel', 'David', 'Mark']

In [42]:
for a in x:
    print(a)

John
Samuel
David
Mark

In [43]:
x[1:2]

['Samuel']

In [44]:
for i in range(0,len(x)):
    print(i)

0
1
2
3

In [45]:
for i in range(0,len(x)):
    print(x[i])

John
Samuel
David
Mark

In [52]:
x = ["John", "Samuel","David", "Mark", True,10.22, 35]
array =[]
for i in range(0, len(x)):
    array.append(x[i])
    
    
print(array)

['John', 'Samuel', 'David', 'Mark', True, 10.22, 35]

In [62]:
for i in x:
    if type(i)==str or type(i)==bool:
        pass
    else:
        print(i)

10.22
35

In [59]:
for i in x:
    if type(i) != str and type(i) != bool:
        print(i)

10.22
35

In [63]:
print(x[2])

David

In [64]:
x[1] = "Akunna"
print(x)

['John', 'Akunna', 'David', 'Mark', True, 10.22, 35]

In [65]:
x.append("Matthew")
print(x)

['John', 'Akunna', 'David', 'Mark', True, 10.22, 35, 'Matthew']

In [67]:
x.insert(2,"Gold")
print(x)

['John', 'Akunna', 'Gold', 'David', 'Mark', True, 10.22, 35, 'Matthew']

In [68]:
p = ["Jude","Philip", "reginald", "caleb", "Jake", "chowah"]
for i in p:
    if len(i)%2 ==0:
        print(i)

Jude
Philip
reginald
Jake
chowah

In [69]:
p = ["Jude","Philip", "reginald", "caleb", "Jake", "chowah"]
even_names = []
odd_names = []
for i in p:
    if len(i)%2 ==0:
        even_names.append(i)
    else:
        odd_names.append(i)
print(even_names)

['Jude', 'Philip', 'reginald', 'Jake', 'chowah']

In [70]:
y = x.copy()
print(y)

['John', 'Akunna', 'Gold', 'David', 'Mark', True, 10.22, 35, 'Matthew']

In [74]:
x = ["John", "Samuel","David", "Mark", True,10.22, 35]
a = list(x)
print(a)

TypeError: 'list' object is not callable

In [ ]:
upper_names = []
names = []

In [ ]:
array = ["John", "timothy",10,33,"Jude", "beauty"]

# formula = temperature_value +273

In [2]:
arr = ['Samuel','Matthew', 'Mark']
arra = []

for a in range(0, len(arr)):
    arra.append(arr[a])
print(arra)

['Samuel', 'Matthew', 'Mark']

In [4]:
a = {'name':'Matthew', 'age':'23','sex':'Male'}
print(a)

{'name': 'Matthew', 'age': '23', 'sex': 'Male'}

In [5]:
print(a['name'])

Matthew

In [8]:
print(a['name'])

Matthew

In [9]:
as = list()

SyntaxError: invalid syntax (2475382516.py, line 1)

In [11]:
a = list()
print(a)

[]

In [12]:
a = set()
print(a)

set()

In [13]:
a = dict()
print(a)

{}

In [14]:
a = tuple()
print(a)

()